{
	metrics
}

:6080 :6040 {
	websocket_notifier /ws "ws://localhost:6081/ws" {
		write_wait 10s
		pong_wait 60s
		ping_interval 50s
		max_message_size 256k # max incoming message size from subscriber
		chan_size 16
		recovery_wait 5s

		header_up +TEST_HEADER "value"
		header_down -TEST_HEADER "value"

		metadata remote_host "{remote_host}"
		metadata remote_port "{remote_port}"
		metadata ua "{header.user-agent}"
	
		compression shorty
		shorty_reset_count 1000
		ping_type text

		channel_category all all
		channel_category ".*" other
	}
}
